@model EntityLayer.ViewRoleAccessMaster

@{
// Layout = null;
}

<!-- Banner Section Start Here -->
<div class="inner-banner" style="top: 94px;">
    <img src="/images/banner/Add Role Access.JPG" alt="">
    <div class="title">
        <h1>@ViewBag.Title</h1>
        <span><a href="#">Home</a> <i class="fa fa-bolt" aria-hidden="true"></i> <span class="last">@ViewBag.Title</span></span>
    </div>
</div>
<!-- Banner Section end Here -->
<!-- Contact Section Start Here -->
<div class="contact-page-area spc-equal">
    <div class="container">
        <p>
            @Html.ActionLink("Back to list", "RoleAccess")
        </p>
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-area">
                    @using (Html.BeginForm("AddRoleAccess", "RoleAccess", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()


                        <fieldset>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="Restaurant">Restaurant<span class="req-st"> *</span></label>
                                        @Html.DropDownListFor(m => m.objRoleAccessMaster.RestaurentID, new SelectList(Model.lstRestaurant, "RestaurantID", "Name"),"Select Restaurant", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.objRoleAccessMaster.RestaurentID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="Roles">Role<span class="req-st"> *</span></label>
                                        @Html.DropDownListFor(m => m.objRoleAccessMaster.RolesID, new SelectList(Model.lstRole, "RolesID", "RoleName"), "Select Role", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.objRoleAccessMaster.RolesID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="MenuAccess">Menu Access</label>
                                </div>
                                @for (var i = 0; i < Model.lstAccess.Count(); i++)
                                {
                                    int AccessID = 0;
                                    if (Model.lstRoleAccess != null && Model.lstRoleAccess.Count > 0)
                                    {
                                        EntityLayer.RoleAccess objRoleAccess = Model.lstRoleAccess.Where(r => r.AccessID == Model.lstAccess[i].AccessID).FirstOrDefault();

                                        if (objRoleAccess != null && objRoleAccess.AccessID > 0)
                                        {
                                            AccessID = objRoleAccess.AccessID;
                                        }
                                    }
                                    if (AccessID > 0)
                                    {
                                        Model.lstAccess[i].isChecked = true;
                                    }
                                    @*<div style="width:100px;">*@
                                    @Html.HiddenFor(m => Model.lstAccess[i].AccessID)
                                    @Html.HiddenFor(m => Model.lstAccess[i].AccessName)
                                    <div class="col-md-2 col-sm-3 col-xs-6">
                                        <div class="form-group">
                                            <span style="display: inline-grid;"> @Html.CheckBoxFor(m => m.lstAccess[i].isChecked)</span>
                                            <span>
                                                @Html.DisplayFor(m => Model.lstAccess[i].AccessName)
                                            </span>
                                        </div>
                                    </div>
                                            @*</div>*@
                                }
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="Description">Description</label>
                                        @Html.TextBoxFor(m => m.objRoleAccessMaster.Descp, new { @class = "form-control", id = "txtDescription" })
                                    </div>
                                </div>
                            </div>

                            @Html.HiddenFor(m => m.objRoleAccessMaster.RoleAccessMasterID, new { id = "hdnRoleAccessMasterID" })
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group bottom-btn">
                                        <input type="submit" class="btn-send" id="buttonsubmit" value="Submit">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        @section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var message = '@TempData["NotifyMessage"]';
        var type = '@TempData["NotifyType"]';
        if (message != "")
            ShowNotify("", message, type);
    });
</script>