@model EntityLayer.EmailTemplate

@{
//Layout = null;
}
<!-- Banner Section Start Here -->
<div class="inner-banner" style="top: 94px;">
    <img src="/images/banner/Add Email.JPG" alt="">
    <div class="title">
        <h1>Email Template</h1>
        <span><a href="#">Home</a> <i class="fa fa-bolt" aria-hidden="true"></i> <span class="last">Add Email Template</span></span>
    </div>
</div>
<!-- Banner Section end Here -->
<!-- Contact Section Start Here -->
<div class="contact-page-area spc-equal">
    <div class="container">
        <p>
            @Html.ActionLink("Back to list", "EmailTemplate")
        </p>
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-area">
                    @using (Html.BeginForm("AddEmailTemplate", "EmailTemplate", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {

                        @Html.AntiForgeryToken()

                        <fieldset>
                            @*<div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="RestaurantID">Restaurant<span class="req-st"> *</span></label>
                                        @Html.DropDownListFor(m => m.RestaurantID, ViewBag.UserRestaurant as SelectList, "Select Restaurant", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.RestaurantID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>*@
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="Name">Name<span class="req-st"> *</span></label>
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "txtName" })
                                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="EmailBody">Template Body<span class="req-st"> *</span></label>
                                        @Html.TextAreaFor(m => m.EmailBody, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EmailBody, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @if (Model.EmailTemplateID > 0)
                            {
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="IsActive">Is Active</label>
                                            @Html.EditorFor(m => m.IsActive, new { @class = "form-control", id = "txtIsActive" })
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group bottom-btn">
                                        <input type="submit" class="btn-send" id="buttonsubmit" value="Submit">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        @section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/resources/libs/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="~/resources/libs/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="~/resources/libs/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript" src="~/resources/js/index.js"></script>

<script type="text/javascript">
    CKEDITOR.replace('EmailBody');  
</script>

<script type="text/javascript">
    $(function () {
        var message = '@TempData["NotifyMessage"]';
        var type = '@TempData["NotifyType"]';
        if (message != "")
            ShowNotify("", message, type);
    });
</script>