@model EntityLayer.CMSType

@{
//Layout = null;
}
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">*@
<!-- Banner Section Start Here -->
<div class="inner-banner" style="top: 94px;">
    <img src="/images/banner/Add CMS.JPG" alt="">
    <div class="title">
        <h1>CMS Type</h1>
        <span><a href="#">Home</a> <i class="fa fa-bolt" aria-hidden="true"></i> <span class="last">Add CMS Type</span></span>
    </div>
</div>
<!-- Banner Section end Here -->
<!-- Contact Section Start Here -->
<div class="contact-page-area spc-equal">
    <div class="container">
        <p>
            @Html.ActionLink("Back to list", "CMSType")
        </p>
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-area">
                    @using (Html.BeginForm("AddCMSType", "CMSType", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {

                        @Html.AntiForgeryToken()

                        <fieldset>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="CMSTypeName">CMS Type<span class="req-st"> *</span></label>
                                        @Html.TextBoxFor(m => m.CMSTypeName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.CMSTypeName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @if (Model.CMSTypeID > 0)
                            {
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 34px;">
                                        <div class="form-group">
                                            <label for="Status" style="margin-right: 20px;">Status</label>
                                            @Html.CheckBoxFor(m => m.IsActive, new { @class = "" })
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group bottom-btn">
                                        <input type="submit" class="btn-send" id="buttonsubmit" value="Submit">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        @section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        var message = '@TempData["NotifyMessage"]';
        var type = '@TempData["NotifyType"]';
        if (message != "")
            ShowNotify("", message, type);
    });
</script>