<!DOCTYPE html>

<html>
<head>


    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Restaurant | Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="images/fav.png">



    @Styles.Render("~/Content/css")

    @*<link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- font-awesome css -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- animate css -->
        <link rel="stylesheet" href="css/animate.css">
        <!-- Main Menu css -->
        <link rel="stylesheet" href="css/rsmenu-main.css">
        <!-- rsmenu transitions css -->
        <link rel="stylesheet" href="css/rsmenu-transitions.css">
        <!-- hover-min css -->
        <link rel="stylesheet" href="css/hover-min.css">
        <!-- owl.carousel css -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <!-- Slick css -->
        <link rel="stylesheet" href="css/slick.css">
        <!-- slick-theme css -->
        <link rel="stylesheet" href="css/slick-theme.css">
        <!-- datetimepicker css -->
        <link rel="stylesheet" href="css/jquery.datetimepicker.min.css">
        <!-- magnific popup css -->
        <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
        <!-- style css -->
        <link rel="stylesheet" href="style.css">
        <!-- responsive css -->
        <link rel="stylesheet" href="css/responsive.css">*@


</head>
<body>

    <!--Preload Start-->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
            </div>
        </div>
    </div>
    <!--Preload Start-->
    <!--Header area start here-->
    <header>
        <div id="inner">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="social-icon">
                                <ul>
                                    <li> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                                    <li> <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                                    <li> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                                    <li> <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a> </li>
                                    <li> <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a> </li>
                                    <li> <a href="#"><i class="fa fa-map" aria-hidden="true"></i></a> </li>
                                    <li> Call for reservation: <a href="tel:+0885898745">(+088) 589-8745</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <ul class="top-hour">
                                <li class="open-time">Opening Hours : 8:00am - 11:30pm</li>
                                <li>
                                    <a href="#">Eng <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul>
                                        <li> <a href="#">Japan</a> </li>
                                    </ul>
                                </li>
                                <li> <a href="shop.html"><i class="fa fa-shopping-bag" aria-hidden="true"></i> <sup>2</sup></a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-area header-area2">
            <div id="logo" class="text-center">
                <a href="index.html"><img src="~/images/logo.png" alt="logo"></a>
            </div>
            <div class="container">
                <div id="logo-sticky" class="text-center">
                    <a href="index.html"><img src="~/images/logo.png" alt="logo"></a>
                </div>
                <div class="row margin">
                    <a class="rs-menu-toggle"><i class="fa fa-bars"></i>Menu</a>
                    <nav class="rs-menu">
                        <ul class="nav-menu">
                            <!-- Home -->
                            <li class="current-menu-item current_page_item menu-item-has-children">
                                <a href="#" class="home">Home</a>
                                <ul class="sub-menu">
                                    <li> <a href="index.html">Home One</a> </li>
                                    <li> <a href="index2.html">Home Two</a> </li>
                                    <li> <a href="index3.html">Home Three</a> </li>
                                    <li> <a href="index-onepage.html">Home Onepage 1</a> </li>
                                    <li> <a href="index-onepage2.html">Home Onepage 2</a> </li>
                                    <li> <a href="index-onepage3.html">Home Onepage 3</a> </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="about.html">About Us</a>
                                <ul class="sub-menu">
                                    <li> <a href="about.html">About One</a></li>
                                    <li><a href="about2.html">About Two</a></li>
                                </ul>
                            </li>
                            <!-- End Home -->
                            <!-- Drop Down -->
                            <li class="menu-item-has-children">
                                <a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="event.html">Events</a>
                                        <ul class="sub-menu">
                                            <li> <a href="event-single.html">Events Single</a> </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="gallery.html">Gallery</a>
                                        <ul class="sub-menu">
                                            <li> <a href="gallery-single.html">Gallery Single</a> </li>
                                        </ul>
                                    </li>
                                    <li><a href="testimonial.html">Testimonials</a></li>
                                    <li><a href="reservation.html">Reservation</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="shop.html">Shop</a>
                                        <ul class="sub-menu">
                                            <li> <a href="shop-single.html">Shop Single</a> </li>
                                        </ul>
                                    </li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="error-404.html">Error 404</a></li>
                                </ul>
                            </li>
                            <!-- Drop Down -->
                            <!-- Images -->
                            <li class="rs-mega-menu mega-rs">
                                <a href="#">Mega</a>
                                <ul class="mega-menu">
                                    <li class="mega-menu-container">
                                        <div class="mega-menu-img">
                                            <a href="menu.html">
                                                <div class="mega-menu-img-meta"><img src="~/images/menu/1.jpg" alt="image-01"></div>
                                                <h2>Lunch</h2>
                                            </a> <a href="menu.html">
                                                <div class="mega-menu-img-meta"><img src="~/images/menu/2.jpg" alt="image-02"></div>
                                                <h2>Breakfast</h2>
                                            </a> <a href="menu.html">
                                                <div class="mega-menu-img-meta"><img src="~/images/menu/3.jpg" alt="image-03"></div>
                                                <h2>Dinner</h2>
                                            </a> <a href="menu.html">
                                                <div class="mega-menu-img-meta"><img src="~/images/menu/4.jpg" alt="image-04"></div>
                                                <h2>Dessert</h2>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- End Images -->
                            <!--End Icons -->
                            <li class="menu-item-has-children">
                                <a href="#">Menus</a>
                                <ul class="sub-menu">
                                    <li><a href="menu.html">Menu One</a></li>
                                    <li><a href="menu2.html">Menu Two</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="blog.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="contact.html">Contact</a>
                                <ul class="sub-menu">
                                    <li><a href="contact.html">Contact One</a></li>
                                    <li><a href="contact2.html">Contact Two</a></li>
                                    <li><a href="contact3.html">Contact Three</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!--Header area end here-->
    <!-- Slider Section Start Here -->
    <div class="slider-main">
        <div id="main-slider" class="owl-carousel">
            <div class="item">
                <img src="~/images/slider/1.jpg" alt="slider image">
                <div class="dsc">
                    <h1 data-animation-in="flipInY" data-animation-out="animate-out fadeOutUp">@ViewBag.Title</h1>
                    <h2 data-animation-in="flipInX" data-animation-out="animate-out fadeOutLeft">Chinese Delicious Food</h2>
                    <div class="btn-slider">
                        <a href="#" class="btn1" data-animation-in="bounceInLeft" data-animation-out="animate-out bounceOutRight"><span>Book Now</span></a>
                        <a href="#" class="btn2" data-animation-in="bounceInLeft" data-animation-out="animate-out bounceOutRight"><span>View Menu</span></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/images/slider/2.jpg" alt="slider image">
                <div class="dsc">
                    <h1 data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp">@ViewBag.Title</h1>
                    <h2 data-animation-in="slideInRight" data-animation-out="animate-out fadeOut">American Delicious Food</h2>
                    <div class="btn-slider">
                        <a href="#" class="btn1" data-animation-in="slideInUp" data-animation-out="animate-out slideOutDown"><span>Book Now</span></a>
                        <a href="#" class="btn2" data-animation-in="slideInUp" data-animation-out="animate-out slideOutDown"><span>View Menu</span></a>
                        <div>
                            @RenderBody()
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Section end Here -->
    <!-- Slider Bottom Section Start Here -->
    <div class="our-story about-bg">
        <div class="container">
            <div class="row">
                <div class="left-images col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <!-- <img src="~/images/about/1.jpg" alt="about"> -->
                </div>
                <div class="middle-text col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner">
                        <h2>Our Storry</h2>
                        <h3>Welcome to Khadok</h3>
                        <p>khadok is a restaurant, bar and coffee roastery located on a busy corner site in Farringdon’s Exmouth Market. With glazed frontage on two sides of the building, overlooking the market and a bustling London intersection optio cumque nihil impedit quo minus id quod maxime. </p>
                        <a href="about.html" class="read-more"><span>Read More</span></a>
                    </div>
                </div>
                <div class="right-images col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <!--<img src="~/images/about/2.jpg" alt="about"> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Menu Section Start Here -->
    <div class="menu-area spc-large">
        <div class="container">
            <div class="row">
                <h2 class="sec-title">Our Menus</h2>
                <h3 class="sec-sub-title">Menu Of The Day</h3>
                <div class="menu-gallery owl-carousel">
                    <div class="item">
                        <div class="single-menu-area">
                            <div class="cl-single-menu">
                                <figure><img class="img-responsive" src="~/images/menu/1.jpg" alt=""></figure>
                                <div class="overlay">
                                    <div class="short-desc">
                                        <h2 class="menu-name">Lunch</h2>
                                        <div class="short-desc">
                                            Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur.
                                            <a href="menu.html" class="read-more"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="article">
                                <h3><a href="#" data-id="1" class="cl-single-item-popup">Lunch</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-menu-area">
                            <div class="cl-single-menu">
                                <figure><img class="img-responsive" src="~/images/menu/2.jpg" alt=""></figure>
                                <div class="overlay">
                                    <div class="short-desc">
                                        <h2 class="menu-name">Breakfast</h2>
                                        <div class="short-desc">
                                            Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur.
                                            <a href="menu.html" class="read-more"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="article">
                                <h3><a href="#" data-id="1" class="cl-single-item-popup">Breakfast</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-menu-area">
                            <div class="cl-single-menu">
                                <figure><img class="img-responsive" src="~/images/menu/3.jpg" alt=""></figure>
                                <div class="overlay">
                                    <div class="short-desc">
                                        <h2 class="menu-name">Dinner</h2>
                                        <div class="short-desc">
                                            Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur.
                                            <a href="menu.html" class="read-more"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="article">
                                <h3><a href="#" data-id="1" class="cl-single-item-popup">Dinner</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-menu-area">
                            <div class="cl-single-menu">
                                <figure><img class="img-responsive" src="~/images/menu/4.jpg" alt=""></figure>
                                <div class="overlay">
                                    <div class="short-desc">
                                        <h2 class="menu-name">Dessert</h2>
                                        <div class="short-desc">
                                            Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur.
                                            <a href="menu.html" class="read-more"><span>Read More</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="article">
                                <h3><a href="#" data-id="1" class="cl-single-item-popup">Dessert</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Head Of Chefs Section Start Here -->
    <div class="head-of-chef spc-large">
        <div class="container">
            <div class="row">
                <div class="slider slider-of-chef">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner-text">
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 inner-text">
                            <h2 class="sec-title">Head Of Chefs</h2>
                            <h3 class="sec-sub-title">Jamie Oliver Bobby</h3>
                            <p>khadok is a restaurant, bar and coffee roastery located on a busy corner site in Farringdon’s Exmouth Market. With glazed frontage on two sides of the building, overlooking the market and a bustling London intersection optio cumque nihil impedit quo minus. </p>
                            <a href="#" class="read-more"><span>Read More</span></a>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                            <img src="~/images/chef/1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner-text">
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 inner-text">
                            <h2 class="sec-title">Head Of Chefs</h2>
                            <h3 class="sec-sub-title">Jhon Capprio</h3>
                            <p>khadok is a restaurant, bar and coffee roastery located on a busy corner site in Farringdon’s Exmouth Market. With glazed frontage on two sides of the building, </p>
                            <a href="#" class="read-more"><span>Read More</span></a>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                            <img src="~/images/chef/2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner-text">
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 inner-text">
                            <h2 class="sec-title">Head Of Chefs</h2>
                            <h3 class="sec-sub-title">Angel Yammi</h3>
                            <p>khadok is a restaurant, bar and coffee roastery located on a busy corner site in Farringdon’s Exmouth Market. With glazed frontage on two sides of the building, overlooking the market and a bustling London intersection optio cumque nihil impedit quo minus. </p>
                            <a href="#" class="read-more"><span>Read More</span></a>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                            <img src="~/images/chef/3.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner-text">
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 inner-text">
                            <h2 class="sec-title">Head Of Chefs</h2>
                            <h3 class="sec-sub-title">Kavin Anthoni</h3>
                            <p>Exmouth Market. With glazed frontage on two sides of the building, overlooking the market and a bustling London intersection optio cumque nihil impedit quo minus. </p>
                            <a href="#" class="read-more"><span>Read More</span></a>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                            <img src="~/images/chef/4.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner-text">
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 inner-text">
                            <h2 class="sec-title">Head Of Chefs</h2>
                            <h3 class="sec-sub-title">Anna Taylor</h3>
                            <p>khadok is a restaurant, bar and coffee roastery located on a busy corner site in Farringdon’s Exmouth Market. With glazed frontage on two sides of the building, overlooking the market and a bustling. </p>
                            <a href="#" class="read-more"><span>Read More</span></a>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                            <img src="~/images/chef/5.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="slider slider-nav">
                    <div><img src="~/images/chef/1.png" alt=""></div>
                    <div><img src="~/images/chef/2.png" alt=""></div>
                    <div><img src="~/images/chef/3.png" alt=""></div>
                    <div><img src="~/images/chef/4.png" alt=""></div>
                    <div><img src="~/images/chef/5.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Opening Hours Section Start Here -->
    <div class="opening-hours">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="inner">
                        <h2 class="sec-title">Opening Hours</h2>
                        <h3 class="sec-sub-title">Open For Special Occasions</h3>
                        <div class="images-icon"><img src="~/images/icon/1.png" alt=""></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <h4>Monday – Thursday</h4>
                            <span>08AM – 10PM</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <h4>Friday – Saturday</h4>
                            <span>10AM–11:30PM</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <h4>Sunday</h4>
                            <span>1PM–10PM</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reservation">
                <h2>Reservation</h2>
                <h3>We Are Open All Day</h3>
                <div id="form-messages"></div>
                <form id="reservation" method="post" action="reservation.php">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" id="date" name="date" class="form-control" placeholder="Choose a Date">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="time" name="time" class="form-control" placeholder="Choose a Time">
                                </div>
                                <div class="form-group">
                                    <input type="number" id="people_no" name="people_no" class="form-control" required placeholder="How Many People">
                                </div>
                                <div class="form-group">
                                    <input type="email" id="email_add" name="email_add" class="form-control" required placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="phone_no" name="phone_no" class="form-control" required placeholder="Phone Number">

                                </div>


                                <div class="form-group send-btn">
                                    <button class="btn-send" type="submit">Book a Table</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <!-- Gallery Section Start Here -->
    <div class="home-gellary-area rs-gellary spc-large">
        <div class="container">
            <div class="row">
                <h2 class="sec-title">Our Gallery</h2>
                <h3 class="sec-sub-title">See Our Gallery Image</h3>
                <div class="grid">
                    <div class="col-md-3 col-sm-6 col-xs-6 grid-item mb-30 filter1">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img src="~/images/gallery/1.jpg" alt="Image" />
                            </div>
                            <div class="portfolio-content">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <a class="image-popup p-zoom" href="images/gallery/1.jpg" title="Beefsteak image">
                                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                                        </a>
                                        <h3 class="p-title"><a href="#">Beefsteak</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 grid-item mb-30 filter1">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img src="~/images/gallery/2.jpg" alt="Image" />
                            </div>
                            <div class="portfolio-content">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <a class="image-popup p-zoom" href="images/gallery/2.jpg" title="Beefsteak image">
                                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                                        </a>
                                        <h3 class="p-title"><a href="#">Beefsteak</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 grid-item mb-30 filter1">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img src="~/images/gallery/3.jpg" alt="Image" />
                            </div>
                            <div class="portfolio-content">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <a class="image-popup p-zoom" href="images/gallery/3.jpg" title="Beefsteak image">
                                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                                        </a>
                                        <h3 class="p-title"><a href="#">Beefsteak</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 grid-item mb-30 filter1">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img src="~/images/gallery/4.jpg" alt="image" />
                            </div>
                            <div class="portfolio-content">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <a class="image-popup p-zoom" href="images/gallery/4.jpg" title="Beefsteak image">
                                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                                        </a>
                                        <h3 class="p-title"><a href="#">Beefsteak</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 grid-item mb-30 filter1">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img src="~/images/gallery/6.jpg" alt="image" />
                            </div>
                            <div class="portfolio-content">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <a class="image-popup p-zoom" href="images/gallery/6.jpg" title="Beefsteak image">
                                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                                        </a>
                                        <h3 class="p-title"><a href="#">Beefsteak</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 grid-item mb-30 filter1">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img src="~/images/gallery/5.jpg" alt="Beefsteak image" />
                            </div>
                            <div class="portfolio-content">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <a class="image-popup p-zoom" href="images/gallery/5.jpg" title="Beefsteak image">
                                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                                        </a>
                                        <h3 class="p-title"><a href="#">Beefsteak</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 grid-item mb-30 filter1">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img src="~/images/gallery/7.jpg" alt="Beefsteak image" />
                            </div>
                            <div class="portfolio-content">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <a class="image-popup p-zoom" href="images/gallery/7.jpg" title="Beefsteak image">
                                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                                        </a>
                                        <h3 class="p-title"><a href="#">Beefsteak</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 grid-item mb-30 filter1">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img src="~/images/gallery/8.jpg" alt="Beefsteak image" />
                            </div>
                            <div class="portfolio-content">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <a class="image-popup p-zoom" href="images/gallery/8.jpg" title="Beefsteak image">
                                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                                        </a>
                                        <h3 class="p-title"><a href="#">Beefsteak</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog Section Start Here -->
    <div class="home-blog-area spc-equal">
        <div class="container">
            <div class="row">
                <h2 class="sec-title">Blog Post</h2>
                <h3 class="sec-sub-title">See Our Latest News</h3>
                <div class="blog-gallery owl-carousel">
                    <div class="item">
                        <div class="single-menu-area">
                            <div class="cl-single-menu">
                                <figure><img class="img-responsive" src="~/images/blog/1.jpg" alt=""></figure>
                                <div class="overlay">
                                    <div class="short-desc">
                                        <a href="blog-single.html">How To Cook The Spicy Chinese Noodle Cold Weather</a>
                                    </div>
                                </div>
                            </div>
                            <div class="article">
                                <div class="img"> <img class="img-responsive" src="~/images/blog/4.png" alt=""></div>
                                <h3>Mark Kalvin</h3>
                                <p>
                                    At vero eos et accusamus et iusto odio dignis si ducimus qui blanditiis
                                    praesentium volup tatum del eniti atque
                                </p>
                                <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 28 June 2017</span>
                                <a href="blog-single.html">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-menu-area">
                            <div class="cl-single-menu">
                                <figure><img class="img-responsive" src="~/images/blog/2.jpg" alt=""></figure>
                                <div class="overlay">
                                    <div class="short-desc">
                                        <a href="blog-single.html">How To Cook The Spicy Chinese Noodle Cold Weather</a>
                                    </div>
                                </div>
                            </div>
                            <div class="article">
                                <div class="img"> <img class="img-responsive" src="~/images/blog/5.png" alt=""></div>
                                <h3>Rusda Alvice</h3>
                                <p>
                                    At vero eos et accusamus et iusto odio dignis si ducimus qui blanditiis
                                    praesentium volup tatum del eniti atque
                                </p>
                                <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 28 June 2017</span>
                                <a href="blog-single.html">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="single-menu-area">
                            <div class="cl-single-menu">
                                <figure><img class="img-responsive" src="~/images/blog/3.jpg" alt=""></figure>
                                <div class="overlay">
                                    <div class="short-desc">
                                        <a href="blog-single.html">How To Cook The Spicy Chinese Noodle Cold Weather</a>
                                    </div>
                                </div>
                            </div>
                            <div class="article">
                                <div class="img"> <img class="img-responsive" src="~/images/blog/6.png" alt=""></div>
                                <h3>Nuhan Smith</h3>
                                <p>
                                    At vero eos et accusamus et iusto odio dignis si ducimus qui blanditiis
                                    praesentium volup tatum del eniti atque
                                </p>
                                <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 28 June 2017</span>
                                <a href="blog-single.html">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Testimonials Section Start Here -->
    <div class="testimonials-area">
        <div class="container">
            <div class="row">
                <div class="left-images col-lg-3 col-md-3 col-sm-3 col-xs-12">
                </div>
                <div class="inner-testimonials col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner">
                        <h2 class="sec-title">Testimonials</h2>
                        <h3 class="sec-sub-title">What Our Client Says</h3>
                        <div class="slider testimonials">
                            <div>
                                <div class="images-testimonial">
                                    <img src="~/images/testimonial/3.jpg" alt="">
                                </div>
                                <p>Pellentesque habitant morbi tristique senectus et fames ac turpis egestas. Vivamus at nisl eget ipsum vel congue lacus</p>
                                <h4>Nidhi Sharma</h4>
                            </div>
                            <div>
                                <div class="images-testimonial">
                                    <img src="~/images/testimonial/4.jpg" alt="">
                                </div>
                                <p>Pellentesque habitant morbi tristique senectus et fames ac turpis egestas. Vivamus at nisl eget ipsum vel congue lacus</p>
                                <h4>Jhon</h4>
                            </div>
                            <div>
                                <div class="images-testimonial">
                                    <img src="~/images/testimonial/5.jpg" alt="">
                                </div>
                                <p>Pellentesque habitant morbi tristique senectus et fames ac turpis egestas. Vivamus at nisl eget ipsum vel congue lacus</p>
                                <h4>Kalvin</h4>
                            </div>
                            <div>
                                <div class="images-testimonial">
                                    <img src="~/images/testimonial/6.jpg" alt="">
                                </div>
                                <p>Pellentesque habitant morbi tristique senectus et fames ac turpis egestas. Vivamus at nisl eget ipsum vel congue lacus</p>
                                <h4>Thams</h4>
                            </div>
                            <div>
                                <div class="images-testimonial">
                                    <img src="~/images/testimonial/7.jpg" alt="">
                                </div>
                                <p>Pellentesque habitant morbi tristique senectus et fames ac turpis egestas. Vivamus at nisl eget ipsum vel congue lacus</p>
                                <h4>K. Jarin</h4>
                            </div>
                            <div>
                                <div class="images-testimonial">
                                    <img src="~/images/testimonial/8.jpg" alt="">
                                </div>
                                <p>Pellentesque habitant morbi tristique senectus et fames ac turpis egestas. Vivamus at nisl eget ipsum vel congue lacus</p>
                                <h4>Sharma</h4>
                            </div>

                        </div>

                        <div class="slider testimonials-nav">
                            <div class="images-slide-testimonial">
                                <img src="~/images/testimonial/9.jpg" alt="">
                            </div>
                            <div class="images-slide-testimonial">
                                <img src="~/images/testimonial/10.jpg" alt="">
                            </div>
                            <div class="images-slide-testimonial">
                                <img src="~/images/testimonial/11.jpg" alt="">
                            </div>
                            <div class="images-slide-testimonial">
                                <img src="~/images/testimonial/12.jpg" alt="">
                            </div>
                            <div class="images-slide-testimonial">
                                <img src="~/images/testimonial/13.jpg" alt="">
                            </div>
                            <div class="images-slide-testimonial">
                                <img src="~/images/testimonial/14.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-images col-lg-3 col-md-3 col-sm-3 col-xs-12">

                </div>
            </div>
        </div>
    </div>

    <!-- Event Section Start Here -->
    <div class="our-event-area spc-large">
        <div class="container">
            <div class="row">
                <h2 class="sec-title">Our Event</h2>
                <h3 class="sec-sub-title">Join Our Latest Event</h3>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner first-content-text">
                        <div class="images-left">
                            <a href="event-single.html"> <img src="~/images/event/2.jpg" alt=""></a>
                        </div>
                        <div class="content-left">
                            <h4>New Lunch Party</h4>
                            <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 28 June 2017</span>
                            <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 10.30-03.30</span>
                            <p>Lorem ipsum dolor sit amet nib hash sed, consectetur adipiscing elit. Sed quis nisl scelerisque luctus metus</p>
                            <a href="event.html">View All Event <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="images-left">
                            <a href="event-single.html"> <img src="~/images/event/1.jpg" alt=""></a>
                        </div>
                        <div class="content-left">
                            <h4>Friday Night Party</h4>
                            <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 28 June 2017</span>
                            <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> 10.30-03.30</span>
                            <p>Lorem ipsum dolor sit amet nib hash sed, consectetur adipiscing elit. Sed quis nisl scelerisque luctus metus</p>
                            <a href="event.html">View All Event <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start scrollUp  -->
    <div id="return-to-top">
        <span>Top</span>
    </div>
    <!-- End scrollUp  -->
    <!-- Brand Logo area  -->
    <div class="brand-logo-area">
        <div class="container">
            <div id="logo-slider" class="owl-carousel">
                <div class="text-center item">
                    <a href="#"> <img src="~/images/brand/1.png" alt=""></a>
                </div>
                <div class="text-center item">
                    <a href="#"><img src="~/images/brand/2.png" alt=""></a>
                </div>
                <div class="text-center item">
                    <a href="#"><img src="~/images/brand/3.png" alt=""></a>
                </div>
                <div class="text-center item">
                    <a href="#"><img src="~/images/brand/4.png" alt=""></a>
                </div>
                <div class="text-center item">
                    <a href="#"> <img src="~/images/brand/1.png" alt=""></a>
                </div>
                <div class="text-center item">
                    <a href="#"><img src="~/images/brand/2.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <footer class="spc-large">
        <div class="container">
            <!-- Footer Logo  -->
            <div class="logo text-center">
                <a href="index.html"> <img src="~/images/logo.png" alt="logo"></a>
            </div>
            <!-- Footer Social Icon  -->
            <div class="social-icon text-center">
                <ul class="text-center">
                    <li>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-md-offset-1">
                    <div class="address">
                        503  Old Buffalo Street
                        Northwest #205, New York.
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="phone">
                        <a href="tel:+3453-909-6565"> +3453-909-6565</a><br>
                        <a href="tel:+2390-875-2235">+2390-875-2235</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="email">
                        <a href="mailto:infoname@gmail.com">infoname@gmail.com</a>
                        <a href="mailto:www.yourname.com">www.yourname.com</a>
                    </div>
                </div>
                <div class="copyright text-center">© 2017 <span>RS Theme.</span> All Rights Reserved. </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/js")



    @*<!-- Footer Area Section End Here -->
        
        <!-- all js here -->
        <script src="js/jquery.min.js"></script>
        
        <!-- Menu js -->
        <script src="js/rsmenu-main.js"></script>
        
        <!-- bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
        
        <!-- wow js -->
        <script src="js/wow.min.js"></script>
        
        <!-- jquery.counterup js -->
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        
        <!-- slick-theme js -->
        <script src="js/slick.min.js"></script>
        
        <!-- isotope.pkgd.min js -->
        <script src="js/isotope.pkgd.min.js"></script>
        
        <!-- imagesloaded.pkgd.min js -->
        <script src="js/imagesloaded.pkgd.min.js"></script>
        
        <!-- magnific popup -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        
        <!-- owl.carousel js -->
        <script src="js/owl.carousel.min.js"></script>
        
        <!-- parallax js -->
        <script src="js/parallax.js"></script>
        
        <!--jquery.datetimepicker.js-->
        <script src="js/jquery.datetimepicker.full.min.js"></script>
        
        <!-- Date Picker Custom js -->
        <script src="js/datepicker.js"></script>
        
        <!-- Reservation form  -->
        <script src="js/reservation-form.js"></script>
        
        <!-- main js -->
        <script src="js/main.js"></script>*@

</body>
</html>
