@model EntityLayer.TableReservation

@{
// Layout = null;
}

<!-- Banner Section Start Here -->
<div class="inner-banner" style="top: 94px;">
    <img src="/images/banner/Add Table Reservation.JPG" alt="">
    <div class="title">
        <h1>Table Reservation</h1>
        <span><a href="#">Home</a> <i class="fa fa-bolt" aria-hidden="true"></i> <span class="last">Add Table Reservation</span></span>
    </div>
</div>
<!-- Banner Section end Here -->
<!-- Contact Section Start Here -->
<div class="contact-page-area spc-equal">
    <div class="container">
        <p>
            @Html.ActionLink("Back to list", "TableReservation")
        </p>
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-area">
                    @using (Html.BeginForm("AddTableReservation", "TableReservation", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <fieldset>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="TableNumberID">Table Number<span class="req-st"> *</span></label>
                                        @Html.DropDownListFor(m => m.TableNumberID, ViewBag.UserTableNo as SelectList, "Select Table", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.TableNumberID, "", new { @class = "text-danger" })
                                    </div>
                                </div>                           
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="BookStartTime">Book Start Time<span class="req-st"> *</span></label>                                        
                                        @*@Html.TextBox("BookStartTime", "", new { @class = "form-control " })*@                                      
                                        @Html.TextBoxFor(m => m.BookStartTime, new { @class = "form-control", id = "txtBookStartTime" })
                                        @Html.ValidationMessageFor(m => m.BookStartTime, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="CustomerID">Customer<span class="req-st"> *</span></label>
                                        @Html.DropDownListFor(m => m.CustomerID, ViewBag.UserCustomer as SelectList, "Select Customer", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.CustomerID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @if (Model.TableReservationID > 0)
                            {
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="IsActive">Is Active</label>
                                                @Html.EditorFor(m => m.IsActive, new { @class = "form-control", id = "txtIsActive" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @*<div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="BookEndTime">Book End Time<span class="req-st"> *</span></label>
                                            @Html.TextBoxFor(m => m.BookEndTime, new { @class = "form-control", id = "txtBookEndTime" })
                                            @Html.ValidationMessageFor(m => m.BookEndTime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>*@
                            @*<div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="RestaurantID">Restaurant<span class="req-st"> *</span></label>
                                            @Html.DropDownListFor(m => m.RestaurantID, ViewBag.UserRestaurant as SelectList,"Select Restaurant", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.RestaurantID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>*@

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group bottom-btn">
                                        <input type="submit" class="btn-send" id="buttonsubmit" value="Submit">
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        @section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
       $(document).ready(function () {
           $("#txtBookStartTime").datetimepicker();
        });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var message = '@TempData["NotifyMessage"]';
        var type = '@TempData["NotifyType"]';
        if (message != "")
            ShowNotify("", message, type);
    });
</script>