@model IEnumerable<EntityLayer.Cuisine>

@{
    ViewBag.Title = "Cuisine";
    // Layout = null;
}

<!-- Banner Section Start Here -->
<div class="inner-banner" style="top: 94px;">
    <img src="/images/banner/Food Category.JPG" alt="">
    <div class="title">
        <h1>Cuisine</h1>
        <span><a href="#">Home</a> <i class="fa fa-bolt" aria-hidden="true"></i> <span class="last">Cuisine</span></span>
    </div>
</div>
<!-- Banner Section end Here -->
<!-- Contact Section Start Here -->
<div class="contact-page-area spc-equal">
    <div class="container">

        <p>
            @Html.ActionLink("Create New", "AddCuisine")
        </p>
        @using (Html.BeginForm("AddCuisine", "Cuisine", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CuisineType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th></th>
                </tr>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CuisineType)
                            </td>
                            <td>
                                @if (item.IsActive)
                                {
                                    <text>Active</text>
                                }
                                else
                                {
                                    <text>InActive</text>
                                }
                            </td>
                            <td>
                                <div>
                                    <div style="float:left" title="Edit">
                                        <a href="@Url.Action("addCuisine", "Cuisine", new { id = item.CuisineId })" class="btn btn-xs btn-info">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true">Edit</span>
                                        </a>
                                    </div>
                                    <div style="float:left;margin-left:5px" title="Delete">
                                        @using (Html.BeginForm("Cuisine", "Cuisine", new { id = item.CuisineId }, FormMethod.Post))
                                        {
                                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                                            <button type="submit" id="buttonsubmit" value="Delete"
                                                    onclick="return confirm('Are you sure?');"
                                                    class="btn btn-xs btn-danger">
                                                <span class="glyphicon glyphicon-trash">Delete</span>
                                            </button>
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
        }
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var message = '@TempData["NotifyMessage"]';
        var type = '@TempData["NotifyType"]';
        if (message != "")
            ShowNotify("", message, type);
    });
</script>