@model EntityLayer.RestaurantLogin
@{
    ViewBag.Title = "ResetPassword";
}

<!-- Banner Section Start Here -->
<div class="inner-banner" style="top: 94px;">
    <img src="/images/banner/Change Password.JPG" alt="">
    <div class="title">
        <h1>Change Password</h1>
        <span><a href="#">Home</a> <i class="fa fa-bolt" aria-hidden="true"></i> <span class="last">Change Password</span></span>
    </div>
</div>
<!-- Banner Section end Here -->
<!-- Contact Section Start Here -->
<div class="contact-page-area spc-equal">
    <div class="container">
        <div class="col-md-offset-3 col-md-6">
            @using (Html.BeginForm("ResetPassword", "RestaurantUser", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "contact-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                   @Html.HiddenFor(m => m.UserID)
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="Firstname">Password<span class="req-st"> *</span></label>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="Firstname">Comfirm Password<span class="req-st"> *</span></label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:15px">
                            <div class="form-group bottom-btn" style="display:inline-block">
                                <input type="submit" class="btn-send btn btn-danger" id="buttonsubmit" value="Submit">
                            </div>
                            <div class="pull-right">
                                @Html.ActionLink("Register as a new user", "AddRestaurantUser")
                            </div>
                        </div>
                    </div>
                </fieldset>
            }
        </div>


        <div class="col-md-offset-2 col-md-4">
            @*<section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>*@
        </div>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

